body {
  background: -webkit-linear-gradient(left top, #2845C7, #C0C0C0, #E8002D);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(bottom right, #2845C7, #C0C0C0, #E8002D);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(bottom right, #2845C7, #C0C0C0, #E8002D);
  /* Standard syntax */
  background: linear-gradient(to bottom right, #2845C7, #C0C0C0, #E8002D);
  background-size: cover;
  background-repeat: no-repeat;
}

#container {
  height: 770px;
  width: 890px;
  background-repeat: none;

}

.header {
  position: relative;
  top: 20px;
  left: 200px;
  height: 53px;
  width: 966px;
  background-image: url('https://fontmeme.com/permalink/170712/bfa8154618eebfd511ec834b30078867.png');
}

.subhead {
  position: relative;
  top: 20px;
  left: 100px;
  background-image: url('https://fontmeme.com/permalink/170712/342742b64de961b15befee03dfa2c732.png');
  height: 34px;
  width: 1143px;
}

#poster {
  position: relative;
  left: 350px;
  top: 20px;
  background-image: url('https://vignette3.wikia.nocookie.net/bttf/images/4/48/Back_to_the_Future_2_Slider.jpg/revision/latest/scale-to-width-down/670?cb=20150922081439');
  height: 360px;
  width: 670px;
}

.start {
  position: relative;
  left: 600px;
  top: 30px;
  padding: 10px;
  background-color: #DB1818;
  background-image: url('https://fontmeme.com/permalink/170714/25c5e37dffb4fc98fb972652856a2df7.png');
  background-repeat: no-repeat;
  background-position: 60% 50%;
  height: 56px;
  width: 146px;

}

.start:active {
  transition: all 1s linear .5s;
}

.start-button {
  position: relative;
  top: 3px;
  left: 5px;
  height: 30px;
  width: 122px;
}

ol {
  list-style: upper-alpha;
}

li {
  padding: 5px;
  width: 300px;
}

li:hover {
  background: -webkit-linear-gradient(left top, #2845C7, #E8002D);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(bottom right, #2845C7, #E8002D);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(bottom right, #2845C7, #E8002D);
  /* Standard syntax */
  background: linear-gradient(to bottom right, #2845C7, #E8002D);


}

.forward {
  position: relative;
  top: 4px;
  left: 5px;
}

#question {
  background: -webkit-linear-gradient(left top, #462BAD, #DB1818);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(bottom right, #462BAD, #DB1818);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(bottom right, #462BAD, #DB1818);
  /* Standard syntax */
  background: linear-gradient(to bottom right, #462BAD, #DB1818);
  -webkit-background-clip: text;
  background-clip: text;
  color: #DB1818;
  font-size: 50px;
  font-family: 'Bangers', cursive;
  position: relative;
  display: inline;
}

#answer-list {
  font-family: 'Bangers', cursive;
  font-size: 50px;
  color: #DB1818;
  position: relative;
  left: 500px;
}

#answer-display {
  display: block;
  padding: 20px;
  position: relative;
  left: 300px;
}

button {
  position: relative;
  left: 600px;
  background-color: #DB1818;
}

#result-button {
  position: relative;
  left: 500px;
}

.see-results {
  position: relative;
  top: 3px;
  left: 5px;
}

#score {
  position: relative;
  left: 500px;
  font-family: 'Bangers', cursive;
  font-size: 50px;
  color: #462BAD;
}

#play-again {
  position: relative;
  left: 400px;
}
