.header {
  position: relative;
  top: 10px;
  left: 200px;
}

.subhead {
  position: relative;
  top: 10px;
  left: 100px;
}

.poster {
  position: relative;
  left: 350px;
}

.start {
  position: relative;
  left: 600px;
  top: 20px;
  padding: 10px;
  background-color: #DB1818;

}

.start-button {
  position: relative;
  top: 3px;
  left: 5px;
}

ol {
  list-style: upper-alpha;
}

li:hover {
  background-color: blue;
}
